body {
    background-color: #5a9ae8;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    
}

section {
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto; /*centraliza o card*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    padding: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }